*{
    padding:0;
    margin:0;
}
/*make the button and heading center*/
body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:100vh;
   
}

.btn{
    color:white;
    background-color: blue;
    padding: 20px 40px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    display: inline-block;
}

#Ajaxid{
    margin:10px 20px;
}
#response{
    margin:20px 20px;
}

#fetchid{
    margin:10px 20px;
}
#result{
    margin:20px 20px;
}