*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.btn{
    padding:10px 20px;
    color:rgb(70, 38, 38);
    background-color: royalblue;
    border: none;
    margin:20px 10px;
}
